html {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    display: flex;
    border-radius: 50%;
    background-color: cadetblue;
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}

.second-ball {
    background-color: coral;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}