html {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    border-radius: 50%;
    background-color: cadetblue;
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin-inline: auto;
    text-align: center;
}